@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #f5f3ef;
    display: flex;
    min-height: 100vh;
    color: #003366;
}

nav {
    width: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 1.2rem;
    gap: 1.7rem;
    border: solid 0.05rem #c8d9e6;
}

.icon {
    width: 2.7rem;
    height: 2.7rem;
    background-color: #003366;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img{
    width: 2rem;
}

.ativo {
    background-color: #003366;
}

main {
    display: grid;
    grid-template-columns: 1fr 22rem;
    flex: 1;
    padding: 2.5rem;
    gap: 2.5rem;
}

input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.625rem;
    border: 0.1rem solid #c8d9e6;
    margin-bottom: 2rem;
    outline: none;
    font-weight: 0.9rem;
}

input::placeholder {
  color: #888;
  font-style: italic;
  opacity: 1; 
  font-size: 0.85rem;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.3rem;
}

.livros-box {
    background: white;
    padding: 1.3rem;
    border-radius: 1.3rem;
    display: flex;
    flex-direction: row;
    gap: 1.3rem;
    align-items: center;
    width: 100%;
    max-width: 35rem;
    height: 15rem;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.capa {
    display: flex;
    width: 9rem;
    height: 11rem;
    background-color: #c8d9e6;
    border-radius: 0.5rem;
    flex-shrink: 0;
}

.capa-escrita {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

h2 {
    display: flex;
    font-size: 1.2rem;
    margin: 0;
}

button {
    width: 10rem;
    padding: 0.625rem 1.3rem;
    border-radius: 3rem;
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}

.livros-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(8.75rem, 1fr));
    gap: 1.25rem;
    margin-top: 1.25rem;
}

.livro {
    width: 100%;
    height: 11.25rem;
    background: #c8d9e6;
    border-radius: 0.625rem;
}

.livros-grid-titulo {
    margin: 2rem 0
}


.painel {
    background: white;
    padding: 2rem;
    border-radius: 1.5rem;
    border: 0.063rem solid #c8d9e6;
    height: fit-content;
}

.painel h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.numeros {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background: #f5f3ef;
    border-radius: 0.8rem;
    font-size: 0.85rem;
    margin-bottom: 2.5rem;
    text-align: center;
}

.dia {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.313rem; 
}

.dia-texto {
    font-size: 0.7rem;
    text-transform: uppercase;
    color: #888;
    font-weight: bold;
}

.hoje {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.4rem;
    font-weight: 500;
    background-color: #003366;
    color: white;
}

.pessoa {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
}

.avatar {
    width: 2.813rem;
    height: 2.813rem;
    border-radius: 0.75rem;
    background: #cbd5e0;
}

.pessoa p {
    font-size: 0.85rem;
    line-height: 1.4;
}

.pessoa span {
    color: #003366;
    font-size: 0.75rem;
}


@media (max-width: 900px) {
    body {
        flex-direction: column; 
    }

    nav {
        width: 100%;
        flex-direction: row; 
        justify-content: center;
        padding: 1rem;
        border-bottom: 0.05rem solid #c8d9e6;
        border-right: none;
    }

    main {
        grid-template-columns: 1fr; 
        padding: 1.5rem;
    }

    .livros-box {
        flex-direction: column; 
        height: auto;
        text-align: center;
        align-items: center;
    }

    .capa-escrita {
        align-items: center;
    }
}


@media (max-width: 480px) {
    h1 {
        display: flex;
        font-size: 1.8rem;
        justify-content: center;
    }

    .livros-grid-titulo{
        justify-content: center;
    }

    .livros-grid {
        grid-template-columns: 1fr 1fr;
    }

    .numeros {
        gap: 0.5rem;
        padding: 0.5rem;
    }
}