@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #c8d9e6;
    font-family: "Montserrat";
}

.login {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.frase,
.container {
    flex: 1 1 50%;
    width: 50%;
}

.frase {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.frase p {
    color: #003366;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.5;
    font-style: italic;
    margin: 0;
}

.frase .autor p {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    opacity: 0.8;
    text-align: right;
}

.container {
    display: flex;
    justify-content: flex-end;
    height: 37.43rem;
}

.card-login {
    width: 100%;
    max-width: 40rem;
    padding: 1.25rem;
    background-color: white;
    align-items: center;
}

.card-login h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    color: #003366;
    font-size: 2.1rem;
    text-align: center;
}

.formulario {
    margin-top: 6.3rem;
}

.campo {
    margin-bottom: 0.625rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.campo span {
    color: #003366;
    outline: 0;
    margin-bottom: 5px;
    margin-left: 4.3rem;
}

.campo input {
    width: 27rem;
    max-width: 27rem;
    border: none;
    border-bottom: 0.125rem solid #9b9b9b;
    outline: 0;
    font-size: 1rem;
    color: #000;
    padding: 0.438rem 0;
    background: transparent;
    transition: border-color 0.2s;
    font-family: "Montserrat";
    align-self: center;
}

.campo input:focus {
    border-bottom-color: #003366;
}

.botao {
    margin-left: 5.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27rem;
    height: 2.5rem;
    border-radius: 1rem;
    border: none;
    background-color: #003366;
    color: white;
    cursor: pointer;
    font-family: "Montserrat";
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: none;
}

.botao-login {
    margin-bottom: 0.7rem;
}

.card_erro {
    display: none;
    color: red;
    margin-bottom: 0.625rem;
}

.div_aguardar img{
    display: none;
}